<div
    draggable="true"
    dropzone="move"
    aria-dropeffect="move"
    [ngClass]="{
        card: true,
        first: index === 0,
        second: index === 1,
        third: index === 2,
        dragging
    }"
    >
    <div class="image-content">
        <img draggable="false" [title]="name" [src]="imageUrl" [alt]="name" />
    </div>
    <div class="text-content">
        <span class="rank">{{index + 1}}</span>
        <span class="name">{{name}}</span>
        <span class="tier">{{tier}}</span>
    </div>
</div>